<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Weather Astrology</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">


</head>

<body>
  <div class="container">
    <div class="intro">
      <img src="images/crystal-ball.png" alt="">
      <h1>Astrology Weather APP</h1>
      <h3>This is how it works.</h3>
    </div>

    <fieldset>
      <form class="" action="/" method="post">
        <div class="customFeild">
          <label for="cityInput" class="placeholder">City Name</label>
          <input id="cityInput" type="text" required="required" name="cityName">
          <label for="astroSign" class="placeholder">Your Sign</label>
          <input id="astroSign" type="text" required="required" name="astroName">
          <button type="submit">Go</button>
        </div>
      </form>

      <%if( weather !== null){ %>
      <div class="answer">
        <h2 class="weatherDescription">The weather is curently...</h2>
        <h2 class="temperatureDegree"> <%= temp %> </h2>
        <img class="" src="images/sun.png" alt="" id="weatherIcon">
        <h2>Your Reading:</h2>
        <P class="yourHoroscope">
          Here Is your Reading
        </P>
      </div>
      <% } %>

      <% if(error !== null){ %>
      <p>
        <%= error %>
      </p>
      <% } %>
    </fieldset>
  </div>




</body>

</html>